<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Git Project/CurrencyExchange">
        <classes>
            <class name="base.BaseTest">
                <methods>
                    <include name="buySellAmountEmptiedTest"/>
                    <include name="ratesAndCurrencyOptionUpdated"/>
                    <include name="lossAmountCalculation"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>